$color-primary: #000;
$color-secondary: #919191;
$color-accent: #ff5722;
$color-light: #f9f9f9;
$color-dark: #333;
$color-white: #fff;

$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Noto Sans', sans-serif;
$font-tertiary: 'Oswald', sans-serif;


$spacing-unit: 10px;
$border-radius: 5px;

$banner-height: 500px;
$card-img-height: 175px;
$grid-gap: 30px;
$grid-margin: 30px;